
@font-face {
    font-family:"☞EuropaGroSHOP-Lig";
    src:url("Europa Light.woff2") format("woff2"),url("Europa Light.woff") format("woff"),url("Europa Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        