
@font-face {
    font-family:"Europa";
    src:url("Europa-Bold.woff2") format("woff2"),url("Europa-Bold.woff") format("woff"),url("Europa-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        