
@font-face {
    font-family:"☞EuropaGroSHOP-XLig";
    src:url("Europa Light Extra.woff2") format("woff2"),url("Europa Light Extra.woff") format("woff"),url("Europa Light Extra.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        