
@font-face {
    font-family:"☞EuropaGroSHOP-Reg";
    src:url("Europa Regular.woff2") format("woff2"),url("Europa Regular.woff") format("woff"),url("Europa Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        