
@font-face {
    font-family:"☞EuropaGroSHOP-LigIta";
    src:url("Europa Light Italic.woff2") format("woff2"),url("Europa Light Italic.woff") format("woff"),url("Europa Light Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        